/*
 * Componente: Abas (Tabs)
 * Estiliza a barra de navegação principal na coluna de conteúdo.
*/

.tabs {
  margin-bottom: 25px;
  border-bottom: 1px solid var(--color-card-border);
  padding-bottom: 15px;
  width: 100%;

  /* Alinha os ícones das abas */
  display: flex;
  justify-content: center;
  gap: 25px;
}

.tab-icon {
  font-size: var(--font-size-icon);
  color: var(--color-text-dark);
  cursor: pointer;
  padding: 5px;

  /* Efeito de transição suave */
  transition:
    color 0.3s ease,
    transform 0.3s ease,
    text-shadow 0.3s ease;
}

.tab-icon:hover {
  color: var(--color-text-headings);
  transform: scale(1.15);
}

/* Estilo para a aba que está atualmente ativa */
.tab-icon.active-tab {
  color: var(--color-primary-accent);
  text-shadow: 0 0 8px var(--color-shadow-glow-hover);
  transform: scale(1.1);
}
